.blog_title_background {
  width: 100%;
  height: 565px;
  /* border: 1px solid black; */
  padding-top: 80px;
}

.single_blog_title {
  text-align: center;
  color: #161616;
  font-weight: 700;
  font-size: 60px;
  font-family: AnekGujarati-Bold;
}

.image_and_description_main {
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid orange; */
}

.image_and_description {
  width: 960px;
  height: auto;
  /* border: 1px solid black; */
  margin-top: -360px;
  position: relative;
}

.blog_img_main {
  width: 100%;
  height: 540px;
  /* border: 1px solid red; */
  border-radius: 20px;
  overflow: hidden;
}

.blog_img_main>img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.blog_description {
  font-weight: auto;
  font-size: 28px;
  color: #161616;
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: AnekGujarati-Medium;
}

.other_blog_post_main {
  width: 100%;
  height: auto;
  border: 1px solid #F9F9F9;
  background-color: #F9F9F9;
}

.other_blog_heading {
  margin-top: 80px;
  margin-bottom: 20px;
  /* margin-bottom: 15px; */
}

.other_blog_heading>p {
  font-size: 60px;
  font-weight: 900;
  color: #161616;
  text-align: center;
  font-family: AnekGujarati-Bold;
}







.blog_description>iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 20px;
   display: inline-block;  

}

@media (max-width : 1280px) {

  .blog_title_background>p,
  .image_and_description {
    padding: 0px 3.125%;
  }

}

@media (max-width : 1040px) {

  .blog_title_background {
    height: auto;
    padding-top: 7.6923076923%;
    padding-bottom: 37.9807692308%;
  }

  .blog_title_background>p {
    font-size: 3.875rem;
  }

  .image_and_description_main {
    height: auto;
    width: 100%;
  }

  .image_and_description {
    height: auto;
    width: 100%;
    margin: 0px;
  }

  .blog_img_main {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    margin-top: -35.4166666667%;
  }

  .blog_img_main>img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }

  .blog_description>iframe {
    width: 100%;
    height: 100%;
  }

  .other_blog_post_main {
    height: auto;
    width: 100%;
    overflow: hidden;
    border: none;
  }

  .other_blog_heading {
    margin: 60px 0px 20px 0px;
  }

}

@media (max-width : 768px) {

  .blog_img_main,
  .youTubeVideoLink {
    aspect-ratio: 4 / 3;
  }

  .blog_description {
    font-size: 24px;
  }

}

@media (max-width : 620px) {

  .blog_title_background>p {
    font-size: 58px;
    padding: 0px 4.8387096774%;
  }

  .image_and_description {
    padding: 0px 4.8387096774%;
  }

  .blog_description {
    margin: 40px 0px;
  }

}

@media (max-width : 568px) {

  .blog_title_background>p {
    font-size: 52px;
  }

  .blog_description {
    font-size: 22px;
  }

}

@media (max-width : 425px) {

  .blog_title_background>p {
    font-size: 40px;
  }

  .blog_description {
    font-size: 20px;
  }

}