
.dynamic_catagory_ditails_main {
  width: 100%;
  height: 291px;
  display: flex;
  justify-content: center;
}

.warrper_to_dynamic_catagory {
  width: 1200px;
  height: auto;
  /* border: 1px solid black; */
}

.warrper_to_dynamic_catagory > p {  
  font-size: 60px;
  font-weight: 700;
  line-height: 87px;
  margin-top: 80px;
  font-family: AnekGujarati-Bold;
}

.warrper_to_dynamic_catagory > h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  font-family:AnekGujarati-Medium;
}

.catagory_card_main_warapper {
  width: 100%;
  height: auto;
  /* border: 1px solid rgb(0, 255, 94); */
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.catagory_card_main {
  width: 1200px;
  height: auto;
  /* border: 1px solid orange; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  cursor: pointer;
}

/* card  */
.catagory_card {
  width: 380px;
  height: 434px;
  /* background-color: rebeccapurple; */
  background-color: #f9f9f9;
  border-radius: 20px;
  margin-top: 40px;
  overflow: hidden;
}

.catagory_image_main {
  width: 100%;
  height: 214px;
  /* border: 1px solid black; */
  overflow: hidden;
}

.catagory_image_main > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.catagory_details_main {
  width: 100%;
  height: 220px;
  /* border: 1px solid black; */
  padding: 24px;
}

.catagory_details_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #161616;
  font-family: AnekGujarati-SemiBold;
  /* font-style: bold; */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.catagory_details_description {
  margin-top: 8px;
  color: #828282;
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
  font-family: AnekGujarati-Regular;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.read_more_button {
  width: 128px;
  height: 48px;
  background: transparent;
  border: 1.5px solid #2C7864;
  border-radius: 10px;
  color: #2C7864;
  font-weight: 600;
  font-size: 16px;
  margin-top: 24px;
  cursor: pointer;
  font-family:AnekGujarati-SemiBold ;
}

.read_more_button:hover {
background-color: #2C7864;
color: #ffffff ;
}


@media (max-width : 1280px) {

  .dynamic_catagory_ditails_main {
    height: auto;
  }

  .warrper_to_dynamic_catagory {
    width: 100%;
    padding: 0px 4.1304347826%;
  }

  .warrper_to_dynamic_catagory > h3 {
    margin-bottom: 80px;
  }

  .catagory_card_main_warapper {
    padding: 0px 1.5625%;
    margin-top: 1.5625%;
  }

  .catagory_card_main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }

  .catagory_card {
    width: auto;
    height: auto;
    margin: 4.838631635%;
  }
  
  .catagory_details_main {
    height: aut
    o;
  }

}

@media (max-width : 920px) {
  
  .catagory_card_main {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width : 620px) {

  .warrper_to_dynamic_catagory {
    padding: 4.8387096774%;
  }

  .warrper_to_dynamic_catagory > p {
    line-height: normal;
    margin-top: 40px;
  }

  .warrper_to_dynamic_catagory > h3 {
    margin-bottom: 40px;
  }

  .catagory_card_main_warapper {
    padding: 0px;
    margin-top: 2.4193548387%;
  }

  .catagory_card_main {
    grid-template-columns: repeat(1, 1fr);
  }

  .catagory_card {
    margin: 2.4193548387% 4.8387096774%;
  }

  .catagory_image_main {
    height: 380px;
  }

}

@media (max-width : 512px) {
  
  .catagory_image_main {
    height: 320px;
  }

  .warrper_to_dynamic_catagory > p {
    font-size: 2.5rem;
  }

  .warrper_to_dynamic_catagory > h3 {
    font-size: 1.375rem;
  }

}

@media (max-width : 375px) {
  .catagory_image_main {
    height: 250px;
  }
}