.warapper {
  width: 100dvw;
  height: auto;

  /* border: 1px solid rgba(223, 215, 215, 0.695); */
}

.catagory_wraper {
  width: 100%;
  background-color: #fffdf5;
}

.catagory_main_conatiner {
  width: 100%;
  height: 1940px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.catagoty_main_title {
  width: 1200px;
  height: auto;
  /* border: 1px solid black; */
  margin-top: 80px;
}

.catagory_title {
  color: #161616;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  font-family: AnekGujarati-Bold;
}

.catagory_subtitle {
  color: #828282;
  font-size: 26px;
  font-weight: 500;
  line-height: 44px;
  text-align: center;
  margin-top: 12px;
  font-family: AnekGujarati-Medium;
  padding: 0px 70px;
  /* border: 1px solid black; */
}
.catagory_4s_logo {
  /* margin-top: 20px; */
  width: 650px;
  height: 190px;
  /* border: 1px solid red; */
}
.catagory_4s_logo > img {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catagory_main {
  width: 100%;
  height: 410px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
}

.catasgory_row {
  width: 1120px;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.left_catagory {
  width: 478px;
  height: 410px;
  /* background-color: orange; */
}

.left_catagory > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.right_catagory > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.right_catagory {
  width: 478px;
  height: 410px;
  /* background-color: orange; */
}

.helpline_main_container_wrapper {
  width: 100%;
  height: 230px;
  background-color: #ab541f;
  display: flex;
  justify-content: center;
}

.helpline_main_containe_main {
  width: 1200px;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

.helpline_icon_main {
  width: 83px;
  height: 83px;
  /* border: 1px solid black; */
  border-radius: 50%;
  overflow: hidden;
}

.helpline_icon_main > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.helpline_number_main {
  width: auto;
  height: auto;
  /* border: 1px solid black; */
  margin-left: 32px;
}
.helpline_text {
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
  font-family: AnekGujarati-Medium;
}
.helpline_number {
  font-size: 56px;
  font-weight: 800;
  line-height: 70px;
  font-family: AnekGujarati-ExtraBold;
  color: #ffffff;
}

.partner_logo_main_wrapper {
  width: 100%;
  height: 320px;
  /* border: 1px solid rgb(31, 189, 14); */
  display: flex;
  justify-content: center;
}

.partner_logo_main {
  width: 1200px;
  height: 100%;
  /* background-color: teal; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid rgb(14, 62, 222); */
}

.logo_img {
  width: 585px;
  height: 160px;
  background-color: #f9f9f9;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
  padding: 0px 32px;
}

.founder_name {
  width: 173px;
  height: 62px;
  /* border: 1px solid red; */
}

.logo_content {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: AnekGujarati-Medium;
  color: #161616;
}

.logo_img_container {
  width: 132px;
  height: 112px;
  /* border: 1px solid red; */
}
.patnar_logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.success_story_main_wrapper {
  width: 100%;
  height: 427px;
  background-color: #ebf3f5;
  /* border: 1px solid orange; */
  display: flex;
  justify-content: center;
}

.success_story_main {
  width: 1200px;
  height: 427px;
  /* border: 1px solid blue; */
}

.success_story_main_title {
  color: #161616;
  font-size: 60px;
  font-weight: 700;
  font-family: AnekGujarati-Bold;
  margin-top: 80px;
  text-align: center;
}

.school_details_and_student_main {
  width: 100%;
  /* height: 140px; */
  /* border: 1px solid black; */
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.school_details_main {
  width: 585px;
  height: auto;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.school_icon_and_school_no {
  width: auto;
  height: auto;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

.school_icon {
  width: 76px;
  height: 76px;
  /* border: 1px solid black; */
}
.school_icon > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.school_no {
  width: auto;
  height: auto;
  /* border: 1px solid black; */
  margin-left: 20px;
}
.school_no {
  font-size: 48px;
  font-weight: 700;
  line-height: 44px;
  color: #ab541f;
  font-family: AnekGujarati-Bold;
}

.student_no_color {
  color: #2c7864;
}

.school_text {
  width: auto;
  height: auto;
  /* border: 1px solid black; */
}
.school_text > p {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #161616;
  font-family: AnekGujarati-Medium;
}

.contect_details_main_wrapper {
  width: 100%;
  height: 400px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.contect_details_main {
  width: 1200px;
}

.Contect_details_title {
  font-size: 60px;
  font-weight: 700;
  color: #161616;
  font-family: AnekGujarati-Bold;
  margin-top: 80px;
  text-align: center;
}

.contect_details {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.email_details_main {
  width: 583px;
  height: auto;
  /* border: 1px solid black; */
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
}

.detail_email_icon {
  width: 40px;
  height: 40px;
  /* border: 1px solid black; */
  flex-shrink: 0;
}

.detail_email_icon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contect_email {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  font-family: AnekGujarati-Medium;
  color: #161616;
  margin-left: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.contect_addresh {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  font-family: AnekGujarati-Medium;
  color: #161616;
  margin-left: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 1280px) {
  .catagory_main_conatiner {
    height: auto;
    padding-bottom: 60px;
  }

  .catagoty_main_title {
    width: 100%;
    margin-bottom: 20px;
  }

  .catagory_title {
    padding: 0px 3.125%;
  }

  .catagory_main {
    height: auto;
    padding: 0px 2.03125%;
  }

  .catasgory_row {
    height: auto;
    width: 100%;
    margin-top: 4.2345276873%;
  }

  .left_catagory,
  .right_catagory {
    width: 100%;
    height: auto;
  }

  .helpline_main_containe_main {
    width: 100%;
    padding: 0px 40px;
  }

  .helpline_number_main {
    margin-left: 40px;
  }

  .partner_logo_main_wrapper {
    height: auto;
  }

  .partner_logo_main {
    width: 100%;
    height: auto;
    padding: 80px 3.125%;
    gap: 3.125%;
  }

  .logo_img {
    height: 160px;
    width: 100%;
    padding: 0px 34px;
  }

  .success_story_main_wrapper {
    height: auto;
  }

  .success_story_main {
    height: auto;
    width: 100%;
    padding: 80px 3.125% 60px 3.125%;
  }

  .success_story_main_title {
    margin: 0px;
  }

  .school_details_and_student_main {
    gap: 3.333%;
    margin-top: 54px;
  }

  .school_details_main {
    width: 100%;
  }

  .contect_details_main_wrapper {
    height: auto;
  }

  .contect_details_main {
    width: 100%;
    padding: 0px 3.125%;
  }

  .Contect_details_title {
    text-align: center;
  }

  .contect_details {
    gap: 3.333%;
  }

  .email_details_main {
    width: 100%;
  }

  .email_details_main p {
    display: block;
    text-align: center;
  }
}

@media (max-width: 1080px) {
  .logo_img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    flex-direction: column-reverse;
    padding: 4% 34px;
  }

  .logo_img_container {
    width: 31.249%;
    height: auto;
    margin-bottom: 8.996%;
  }

  .logo_img:nth-child(1) {
    padding: 6% 34px 4% 34px;
  }

  .founder_name {
    width: 40.718%;
    height: auto;
    margin-bottom: 15.388%;
  }

  .founder_name > a {
    height: 100%;
    width: 100%;
  }

  .founder_name > a > img {
    object-fit: fill;
  }
}

@media (max-width: 920px) {
  .catagory_title {
    padding: 0px 4.1304347826%;
  }

  .helpline_main_containe_main {
    padding: 0px 4.1304347826%;
  }

  .helpline_number_main {
    margin-left: 4.1304347826%;
  }

  .helpline_text {
    font-size: 2.25rem;
  }

  .helpline_number {
    font-size: 2.375rem;
  }

  .partner_logo_main {
    gap: 4.130434826%;
    padding: 80px 4.130434826%;
  }

  .success_story_main {
    padding: 80px 4.130434826% 60px 4.130434826%;
  }

  .school_details_and_student_main {
    gap: 4.5023696682%;
  }

  .school_details_main {
    flex-direction: column;
  }

  .school_icon_and_school_no {
    flex-direction: column;
  }

  .school_icon {
    margin: 20px 0px 40px 0px;
  }

  .school_no {
    margin: 0px;
  }

  .school_text {
    margin-top: 16px;
  }

  .contect_details_main {
    padding: 0px 4.130434826%;
  }

  .email_details_main {
    flex-direction: column;
  }

  .contect_details {
    gap: 4.5023966682%;
  }

  .email_details_main > div {
    margin: 20px 0px 40px 0px;
  }

  .email_details_main > p {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
}

@media (max-width: 768px) {
  .email_details_main > p {
    font-size: 1.5rem;
  }
  .catagory_main_conatiner {
    height: auto;
    padding-bottom: 40px;
  }
}

@media (max-width: 670px) {
  .logo_content,
  .email_details_main p {
    font-size: 1.25rem;
  }

  .catagory_4s_logo {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 584px) {
  .catagory_main {
    margin-top: 4.1095890411%;
  }

  .catasgory_row {
    flex-direction: column;
    margin-top: 0px;
  }

  .catasgory_row:nth-child(3n + 2) {
    flex-direction: column-reverse;
  }

  .left_catagory,
  .right_catagory {
    margin-top: 6.0683835433%;
  }

  .helpline_main_container_wrapper {
    height: auto;
  }

  .helpline_main_containe_main {
    flex-direction: column;
    padding: 0px 6.1643835616%;
  }

  .helpline_icon_main {
    margin: 7.8125% 0px 3.90625% 0px;
  }

  .helpline_number_main {
    margin-left: 0px;
  }

  .helpline_text {
    /* font-size: 2.25rem; */
    font-size: 3.25rem;
    text-align: center;
  }

  .helpline_number {
    font-size: 3rem;
    /* font-size: 2.125rem; */
    text-align: center;
    margin-bottom: 10px; /*me add kariyu*/
  }

  .partner_logo_main {
    display: block;
    padding: 6.8493150685% 6.1643835616%;
  }

  .logo_img:nth-child(1) {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  .logo_img:nth-child(1) {
    padding: 12.5% 34px 6% 34px;
  }

  .logo_img:nth-child(2) {
    padding: 12.5% 34px 6% 34px;
  }

  .logo_img > div:nth-child(1),
  .logo_img > div:nth-child(2) {
    margin: 0;
  }

  .logo_img:nth-child(3n + 2) {
    margin-top: 7.03125%;
  }

  .success_story_main {
    padding: 80px 6.1643835616% 60px 6.1643835616%;
  }

  .school_details_and_student_main {
    flex-direction: column;
    gap: 0px;
  }

  .school_details_main {
    flex-direction: row;
  }

  .school_details_main:nth-child(3n + 2) {
    margin-top: 7.03125%;
  }

  .school_icon_and_school_no {
    width: 65%;
    flex-direction: row;
    justify-content: space-between;
  }

  .school_icon {
    margin: 0px;
  }

  .school_text {
    margin-top: -2px;
  }

  .contect_details_main {
    padding: 0px 6.1643835616%;
  }

  .contect_details {
    flex-direction: column;
  }

  .email_details_main:nth-child(3n + 2) {
    margin-top: 7.03125%;
  }

  .email_details_main p {
    font-size: 1.625rem;
  }
}

@media (max-width: 510px) {
  .helpline_icon_main {
    width: 76px;
    height: 76px;
  }
  .catagory_main_conatiner {
    height: auto;
    padding-bottom: 30px;
  }
}

@media (max-width: 484px) {
  .catagory_title {
    font-size: 1.875rem;
  }
  .catagory_4s_logo > img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .catagory_subtitle {
    font-size: 1.25rem;
    padding: 0px 24px;
    line-height: 35px;
  }

  .school_details_main {
    flex-direction: column;
  }

  .school_icon_and_school_no {
    width: 100%;
    flex-direction: column;
  }

  .school_icon {
    margin: 11.1006271854% 0px;
  }

  .school_text {
    margin-top: 16px;
  }
}

@media (max-width: 360px) {
  .catagoty_main_title {
    margin-top: 68px;
  }

  .catagory_title {
    font-size: 1.875rem;
  }

  .success_story_main_title,
  .Contect_details_title {
    font-size: 3rem;
  }

  .email_details_main p {
    font-size: 1.25rem;
  }
}
